<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzhenghao.dao.MessageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzhenghao.entity.Message">
        <id column="id" property="id" />
        <result column="topic" property="topic" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="reply_content" property="replyContent" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    </resultMap>


    <insert id="insertMessage" parameterType="com.qzhenghao.entity.Message">
        insert ignore  into MESSAGE (topic,user_id,content,state)
        VALUES (#{topic},#{userId},#{content},#{state})
    </insert>
    <select id="queryAllCountId" resultType="long">
        SELECT count(id) FROM message
    </select>
    <update id="updatecontent">
        UPDATE
            USER
        SET
            content = #{scoreCount}
        WHERE
            id = #{id}
    </update>

    <update id="updateMessage" >
        UPDATE
        MESSAGE
        SET
        reply_content = #{replyContent},
        state = #{state}
        WHERE
        id = #{id}
    </update>
    <select id="queryTopN" resultType="com.qzhenghao.entity.User">
        SELECT
            *
        FROM
            USER
        ORDER BY
            score
        DESC
          LIMIT 20
    </select>

    <select id="findUserByProvince" resultType="com.qzhenghao.entity.User">
        SELECT
        *
        FROM
          USER
        WHERE 1=1
        <if test="province != null and province !=''">
            AND province LIKE concat(concat('%',#{province}),'%')
        </if>
    </select>
    <select id="queryAllPageOrdeByState" resultType="com.qzhenghao.entity.Message">
       select
       *
       from MESSAGE
       order by
       state
       limit
       #{pageNo},#{pageSize}
    </select>
    <select id="queryById"  resultType="com.qzhenghao.entity.Message">
        select
       *
       from MESSAGE
        WHERE
        id = #{id}
    </select>
</mapper>